.header {
    margin: 0 auto;
    max-width: 478px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 30px 20px;
}

.header__logo {
    width: 91px;
    position: relative;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.header__logo-start {
    margin-right: 40px;
}

.header__logo-end {
    position: absolute;
    left: 68%;
    transform: translateX(-50%);
    top: 0;
}

.header__logo-text {
    display: none;
    color: #000;
    text-transform: capitalize;
    margin-right: 10px;
}

.header__logo-text-uppercase {
    display: none;
    color: #000;
    position: relative;
}

.header__logo-text-r {
    display: none;
    color: #000;
    position: absolute;
    top: -3px;
    left: 350px;
    transform: translate(50% 50%);
}

.header__menu {}

.header__menu--text {
    color: $darck_grey;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__text {
    color: $darck_grey;
    line-height: normal;
}

.header__text--bold {

    text-align: center;
    font-family: 'Gilroy';
    font-size: 57px;
    font-weight: 600;
    text-transform: uppercase;
}

.header__text--everage {
    font-family: 'Gilroy';
    font-size: 57px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.header__pointer--dw {
    margin-bottom: 20px;
}

.header__pointer--img {}

.section__hero-photo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__hero-photo--img {
    display: block;
    max-width: 478px;
    width: 100%;
}
.section__hero-photo2--img {
    display: none;
}
.section__hero-image--img {
    display: none;
}


@media screen and (min-width: 768px) {
    .header {
        max-width: 768px;
        width: 100%;
    }

    .header__text--bold {
        font-size: 120px;
    }

    .header__logo-text {
        display: block;
        font-family: Gilroy;
        font-size: 35px;
        font-weight: 800;
        line-height: 43px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .header__logo-text-uppercase {
        display: block;
        font-family: Gilroy-Medium;
        font-size: 35px;
        line-height: 41px;
        letter-spacing: -0.02em;
        text-align: center;
        text-transform: uppercase;
    }

    .header__logo-text-r {
        display: block;
        font-family: Gilroy;
        font-size: 25px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
    }

    .section__hero-photo--img {
        display: none;
    }
    .section__hero-photo2--img {
        display: block;
        max-width: 768px;
        width: 100%;
    }

}

@media screen and (min-width: 1200px) {
    .header {
        max-width: 1920px;
        width: 100%;
    }
    
    .section__hero-photo--img {
      display: none;
    }
    .section__hero-photo2--img {
        display: none;
    }
    .section__hero-image--img {
        display: block;
        max-width: 1920px;
        width: 100%;
    }
}