.selected-work {
    margin: 0 auto;
    max-width: 478px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid rgba(37, 37, 37, 1);
    padding-top: 30px;
    padding-bottom: 20px;
}

.selected-work__title {
    width: 100%;
    margin-bottom: 30px;
    font-family: Gilroy;
    font-size: 65px;
    font-weight: 300;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: $darck_grey;

}

.selected-work__list {
    margin: 0 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected-work__item {
    margin-bottom: 30px;
}

.selected-work__item-img {
    width: 100%;
    margin-bottom: 30px;
}

.selected-work__block-btn {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected-work__block-btn--title {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    align-self: self-start;
}

.selected-work__block-btn-add {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-self: self-start;
}

.selected-work__block-btn-add--speciality {
    background: $white;
    border: solid 0 $white;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    margin-right: 20px;
    align-self: self-start;

}

.selected-work__block-btn-add--speciality-text {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
    color: $darck_grey;
}

.selected-work__block-btn-add--year {
    background: $white;
    border: solid 0 $white;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    margin: 0 20px;
}

.selected-work__block-btn-add--year-text {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: $darck_grey;
}

.selected-work__block-btn--discover {
    background: $darck_grey;
    border: solid 0 $white;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: self-end;
}

.selected-work__block-btn--discover-text {
    color: $white;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;

}

.selected-work__block-btn--discover-pointer-right {
    margin-left: 10px;
}

.selected-work__btn-all {
    width: 100%;
    background: $white;
    border: solid 0 $white;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .selected-work {
        max-width: 768px;
        border-top: 1px solid rgba(37, 37, 37, 1);
        border-bottom: 1px solid rgba(37, 37, 37, 1);
    }

    .selected-work__title {
        font-size: 148px;
        line-height: 173px;
        letter-spacing: 0em;

    }

    .selected-work__btn-all {
        width: 187px;
    }
}

@media screen and (min-width: 1200px) {
    .selected-work {
        max-width: 1920px;
        border-top: 1px solid rgba(37, 37, 37, 1);
        
        margin: 0 auto;
        padding-bottom: 70px;
    }

    .selected-work__title {
        font-size: 212px;
        line-height: 245px;
        letter-spacing: 0em;
    }

    .selected-work__list {
        width: 100%;
        margin-bottom: 50px;
        margin: 0 auto;
        display: grid;
        grid-auto-rows: 1fr 1fr auto;
    }

    .selected-work__item {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }

    .selected-work__item-next {}

    .selected-work__item-img {}

    .selected-work__block-btn {
        max-width: 100%;
        max-height: 567px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .selected-work__item-img-one {
        order: 3;
    }

    .selected-work__item-img-two {
        order: 2;
    }
    
    .selected-work__block-btn-tree {
        order: 1;
    }

    .selected-work__block-btn--title {
        font-size: 40px;

    }

    .selected-work__block-btn-add {
        display: block;
        align-self: self-start;
        flex-grow: 1;
    }

    .selected-work__btn-all {
        width: 187px;
        justify-self: center;
        align-items: center;
        flex: 1 1 auto;
        text-align: center;
    }

}