.about-me {
    width: 100%;
    text-align: center;
}

.about-me__text-content {
    margin: 30px 20px;
}

.about-me__text {
    color: $darck_grey;
    text-align: center;
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 300;
    line-height: normal;
}

.about-me__text-bold {
    font-weight: 800;
}

.about-me__social-media {
    width: 100%;
    background-color: $darck_grey;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-me__social-media--text {
    color: $white;
    text-align: right;
    font-family: Gilroy;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-right: 30px;
}

.about-me__social-media--icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 30px;
    gap: 20px;
}

.about-me__facebook {}

.about-me__twitter {}

.about-me__linkedin {}

.about-me__dribble {}

@media screen and (min-width: 768px) {
    .about-me__text {
        font-size: 46px;
        line-height: 64px;
        letter-spacing: -1px;
    }

    .about-me__text-content {
        margin: 30px 0px;
    }
}

@media screen and (min-width: 1200px) {
    .about-me {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        border-bottom: 1px solid rgba(37, 37, 37, 1);
    }

    .about-me__social-media {
        max-width: 420px;
        width: 100%;
        padding-right: 30px;
    }

    .about-me__text {
        text-align: left;
        font-size: 62px;
        line-height: 76px;
    }
}