.our-team {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.our-team__title {
    font-family: Gilroy;
    font-size: 65px;
    font-weight: 300;
    line-height: 92px;
    letter-spacing: 0em;
    text-align: center;
    color: $darck_grey;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.our-team__list {
    width: 100%;

}

.our-team__item {
    margin: 0 20px;
}

.our-team__item--name {
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: $grey;
    margin-bottom: 10px;
}

.our-team__item--speciality {
    font-family: Gilroy-Medium;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: $grey;
    margin-bottom: 20px;
}

.our-team__item--img {
    width: 100%;
}

.our-team__item--social-media {
    width: 100%;
    background-color: $background_color_light;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.our-team__item--facebook {
    width: 30px;
}

.our-team__item--twitter {
    width: 30px;
}

.our-team__item--linkedin {
    width: 30px;
}

.our-team__item--dribble {
    width: 30px;
}

.our-team__item--join-title {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: $darck_grey;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.our-team__item--join-text {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    color: $darck_grey;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.our-team__item--btn-job {
    width: 100%;
    background: $darck_grey;
    border-style: solid;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-transform: capitalize;
}

.our-team__item--btn-text {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: $white;
    text-transform: capitalize;

}

.our-team__item--btn-pointer-right {
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .our-team__title {
        font-size: 148px;
        line-height: 173px;
        letter-spacing: 0em;
    }

    .our-team__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .our-team__item--name {
        text-align: left;
    }

    .our-team__item--speciality {
        text-align: left;
    }

    .our-team__item--social-media {
        justify-content: right;
    }

    .join-team {
        grid-column: -1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 0;
        margin-right: 0;
    }

    .our-team__item--join-text {
        font-size: 64px;
        line-height: 75px;
        text-align: left;

    }


    .our-team__item--btn-job {
        width: 170px;
        align-self: self-start;
    }

}

@media screen and (min-width: 1200px) {
    .our-team {
        width: 100%;
        padding-top: 50px;
        border-top: 1px solid rgba(37, 37, 37, 1);
    }

    .our-team__title {
        font-size: 212px;
        margin-bottom: 60px;
    }

    .our-team__list {
       width: 100%;
       display: grid;
       grid-template-rows: 1fr 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       gap: 20px;
    
    }
    
    .our-team__item {
        
    }
    .join-team {
        grid-column: 3 / 5;
    }

}