@import "reset";

body {
  padding: 0;
  margin: 0 auto;
  max-width: 478px;
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
}

html,body { height: 100%; }

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

.content-wrapper {
  width: 100%;
  background: $background_color_light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  filter: grayscale(100%); 
}
a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 768px;
  }   
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1920px;
  }
}