.logos {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logos__item {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 18px 0px;
    height: 70px;

}

.logos__item-1 {
    width: 100%;
    background: $white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0 10px;
}

.logos__item-2 {
    width: 100%;
    background: $white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0 10px;
}

.logos__item-3 {
    width: 100%;
    background: $white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0 10px;
}

.logos__item-4 {
    width: 100%;
    background: $white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0 10px;
}

.logos__item-5 {
    width: 100%;
    background: $white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0 10px;
}

.logos__item-6 {
    width: 100%;
    background: $white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0 10px;
}

.logos__item-7 {
    width: 100%;
    background: $white;
    border-radius: 50px;
    padding: 15px 40px;
    margin: 0 10px;
}


@media screen and (min-width: 768px) {
    .logos {
        justify-content: space-around;
    }
    .logos__item {
        max-height: 70px;
        height: 100%;
    
    }
    .logos__item-1,
    .logos__item-2,
    .logos__item-3,
    .logos__item-4,
    .logos__item-5,
    .logos__item-6,
    .logos__item-7 {
        padding: 15px 30px;
        margin: 0 0px;
    }

    .logos__item-4 {
        width: 134px;
        height: 32px;
    }

    .logos__item-5 {
        width: 134px;
        height: 36px;
    }

    .logos__item-6 {
        width: 78px;
        height: 33px;
    }

    .logos__item-7 {
        width: 118px;
        height: 32px;
    }
}

@media screen and (min-width: 1200px) {

}