<section class="about-me">
    <div class="about-me__text-content">
        <p class="about-me__text">
            From art to technology, we transform visions into extraordinary <span class="about-me__text-bold">digital
                experiences</span> - your design, our passion, an exceptional future
        </p>
    </div>
    <div class="about-me__social-media">
        <p class="about-me__social-media--text">
            About Me
        </p>
        <div class="about-me__social-media--icons">
            <a class="about-me__social-media--link" href="#">
                <img class="about-me__facebook" src="./images/socials/facebook_white.svg" alt="facebook">
            </a>
            <a class="about-me__social-media--link" href="#">
                <img class="about-me__twitter" src="./images/socials/twitter_white.svg" alt="twitter">
            </a>
            <a class="about-me__social-media--link" href="#">
                <img class="about-me__linkedin" src="./images/socials/linkedin_white.svg" alt="linkedin">
            </a>
            <a class="about-me__social-media--link" href="#">
                <img class="about-me__dribble" src="./images/socials/dribble_white.svg" alt="dribble">
            </a>
        </div>
    </div>
</section>