<section class="logos">
        <a class="logos__item" href="#">
            <img class="logos__item-1" src="./images/logos/logo-7.svg" alt="logoipsum-1">
        </a>
        <a class="logos__item" href="#">
            <img class="logos__item-2" src="./images/logos/logo-6.svg" alt="logoipsum-2">
        </a>

        <a class="logos__item" href="#">
            <img class="logos__item-3" src="./images/logos/logo-5.svg" alt="logoipsum-3">
        </a>
        
        <a class="logos__item" href="#">
            <img class="logos__item-4" src="./images/logos/logo-4.svg" alt="logoipsum-4">
        </a>
        
        <a class="logos__item" href="#">
            <img class="logos__item-5" src="./images/logos/logo-3.svg" alt="logoipsum-5">
        </a>
        
        <a class="logos__item" href="#">
            <img class="logos__item-6" src="./images/logos/logo-2.svg" alt="logoipsum-6">
        </a>
        
        <a class="logos__item" href="#">
            <img class="logos__item-7" src="./images/logos/logo-1.svg" alt="logoipsum-7">
        </a>
</section>