<section class="our-team">
    <p class="our-team__title">
        OUr Team
    </p>
    <div class="our-team__list">
        <div class="our-team__item">
            <p class="our-team__item--name">
                Tyra Dhillon
            </p>
            <p class="our-team__item--speciality">
                Creative Director
            </p>
            <img class="our-team__item--img" src="./images/team-1.jpg" alt="Tyra Dhillon">
            <div class="our-team__item--social-media">
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--facebook" src="./images/socials/facebook_black.svg" alt="facebook">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--twitter" src="./images/socials/twitter_black.svg" alt="twitter">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--linkedin" src="./images/socials/linkedin_black.svg" alt="linkedin">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--dribble" src="./images/socials/dribble_black.svg" alt="dribble">
                </a>
            </div>
        </div>
        <div class="our-team__item">
            <p class="our-team__item--name">
                Darcel Ballentine
            </p>
            <p class="our-team__item--speciality">
                Brand Designer
            </p>
            <img class="our-team__item--img" src="./images/team-2.jpg" alt="Darcel Ballentine">
            <div class="our-team__item--social-media">
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--facebook" src="./images/socials/facebook_black.svg" alt="facebook">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--twitter" src="./images/socials/twitter_black.svg" alt="twitter">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--linkedin" src="./images/socials/linkedin_black.svg" alt="linkedin">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--dribble" src="./images/socials/dribble_black.svg" alt="dribble">
                </a>
            </div>
        </div>
        <div class="our-team__item">
            <p class="our-team__item--name">
                Brittni Lando
            </p>
            <p class="our-team__item--speciality">
                Fashion Designer
            </p>
            <img class="our-team__item--img" src="./images/team-3.jpg" alt="Brittni Lando">
            <div class="our-team__item--social-media">
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--facebook" src="./images/socials/facebook_black.svg" alt="facebook">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--twitter" src="./images/socials/twitter_black.svg" alt="twitter">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--linkedin" src="./images/socials/linkedin_black.svg" alt="linkedin">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--dribble" src="./images/socials/dribble_black.svg" alt="dribble">
                </a>
            </div>
        </div>
        <div class="our-team__item">
            <p class="our-team__item--name">
                Roselle Ehrman
            </p>
            <p class="our-team__item--speciality">
                Graphic Designer
            </p>
            <img class="our-team__item--img" src="./images/team-4.jpg" alt="Roselle Ehrman">
            <div class="our-team__item--social-media">
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--facebook" src="./images/socials/facebook_black.svg" alt="facebook">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--twitter" src="./images/socials/twitter_black.svg" alt="twitter">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--linkedin" src="./images/socials/linkedin_black.svg" alt="linkedin">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--dribble" src="./images/socials/dribble_black.svg" alt="dribble">
                </a>
            </div>
        </div>
        <div class="our-team__item">
            <p class="our-team__item--name">
                Jane Cooper
            </p>
            <p class="our-team__item--speciality">
                Creative Director
            </p>
            <img class="our-team__item--img" src="./images/team-5.jpg" alt="Jane Cooper">
            <div class="our-team__item--social-media">

                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--facebook" src="./images/socials/facebook_black.svg" alt="facebook">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--twitter" src="./images/socials/twitter_black.svg" alt="twitter">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--linkedin" src="./images/socials/linkedin_black.svg" alt="linkedin">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--dribble" src="./images/socials/dribble_black.svg" alt="dribble">
                </a>

            </div>
        </div>
        <div class="our-team__item">
            <p class="our-team__item--name">
                Robert Fox
            </p>
            <p class="our-team__item--speciality">
                Creative Director
            </p>
            <img class="our-team__item--img" src="./images/team-6.jpg" alt="Robert Fox">
            <div class="our-team__item--social-media">
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--facebook" src="./images/socials/facebook_black.svg" alt="facebook">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--twitter" src="./images/socials/twitter_black.svg" alt="twitter">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--linkedin" src="./images/socials/linkedin_black.svg" alt="linkedin">
                </a>
                <a class="our-team__item--social-media-link" href="#">
                    <img class="our-team__item--dribble" src="./images/socials/dribble_black.svg" alt="dribble">
                </a>
            </div>
        </div>
        <div class="our-team__item join-team">
            <p class="our-team__item--join-title">
                Join the team
            </p>
            <p class="our-team__item--join-text">
                Desire to influence the future of branding?
            </p>
            <button class="our-team__item--btn-job">
                <p class="our-team__item--btn-text">Find Job</p>
                <img class="our-team__item--btn-pointer-right" src="./images/vector/Group1.svg" alt="pointer-right">
            </button>
        </div>
    </div>
</section>