<section class="selected-work">
    <p class="selected-work__title">
        Selected work
    </p>
    <div class="selected-work__list">
        <div class="selected-work__item">
            <img class="selected-work__item-img selected-work__item-img-one" src="./images/frame-1.jpg" alt="work-1">
            <img class="selected-work__item-img selected-work__item-img-two" src="./images/frame-2.jpg" alt="work-2">
            <div class="selected-work__block-btn selected-work__block-btn-tree">
                <p class="selected-work__block-btn--title">
                    Trinity
                </p>
                <div class="selected-work__block-btn-add">
                    <button class="selected-work__block-btn-add--speciality">
                        <p class="selected-work__block-btn-add--speciality-text">
                            Digital Design
                        </p>
                    </button>
                    <button class="selected-work__block-btn-add--year">
                        <p class="selected-work__block-btn-add--year-text">
                            2022
                        </p>
                    </button>
                </div>
                <button class="selected-work__block-btn--discover">
                    <p class="selected-work__block-btn--discover-text">
                        discover
                    </p>
                    <img class="selected-work__block-btn--discover-pointer-right" src="./images/vector/group1.svg" alt="pointer-right">
                </button>
            </div>
        </div>
        <div class="selected-work__item selected-work__item-next">
            <img class="selected-work__item-img" src="./images/frame-3.jpg" alt="work-1">
            <img class="selected-work__item-img" src="./images/frame-4.jpg" alt="work-2">
            <div class="selected-work__block-btn">
                <p class="selected-work__block-btn--title">
                    Morpheus
                </p>
                <div class="selected-work__block-btn-add">
                    <button class="selected-work__block-btn-add--speciality">
                        <p class="selected-work__block-btn-add--speciality-text">
                            Digital Design
                        </p>
                    </button>
                    <button class="selected-work__block-btn-add--year">
                        <p class="selected-work__block-btn-add--year-text">
                            2023
                        </p>
                    </button>
                </div>
                <button class="selected-work__block-btn--discover">
                    <p class="selected-work__block-btn--discover-text">
                        discover
                    </p>
                    <img class="selected-work__block-btn--discover-pointer-right" src="./images/vector/Group1.svg" alt="pointer-right">
                </button>
            </div>
        </div>
        <button class="selected-work__btn-all">
            all work
        </button>
    </div>
</section>