<header class="header">
    <div class="header__top">
            <a class="header__logo" href="#">
                <img class="header__logo-start" src="./images/vector/vector1.svg" alt="logo-I-part">
                <img class="header__logo-end" src="./images/vector/vector2.svg" alt="logo-II-part">
                <p class="header__logo-text"> Dianne </p>
                <p class="header__logo-text-uppercase">Studio</p>
                <p class="header__logo-text-r">®</p>
            </a>
        <menu class="header__menu">
            <p class="header__menu--text">menu</p>
        </menu>
    </div>

    <div class="header__text">
        <p class="header__text--bold">Dianne Russell</p>
        <p class="header__text--everage">Digital Design</p>
    </div>
    <a class="header__pointer--dw" href="#">
        <img class="header__pointer--img" src="./images/pointer/pointer-dw.svg" alt="pointer-down">
    </a>
</header>